<div>
  <h1>Templating in Angular</h1>
  This is a theme used: {{theme}}
  <section>
    <h2>Property binding</h2>
    <p>Property binding allows you to bind the value of a property in your component to an element in your template. For
      example:</p>
    <img [src]="imageUrl" [alt]="imageAlt" [title]="imageTitle" />
  </section>
  <section class="">
    <h2>Two way data binding</h2>
    <input [(ngModel)]="firstName" placeholder="Enter theme" />
    Firstname: {{firstName}}
  </section>
  <section>
    <h2>Binding attributes</h2>
    <button [disabled]="disabled">Button is disabled</button>
  </section>
  <section>
    <h2>Event binding</h2>
    <button (click)="onClick()">Click me!</button>
    <p>{{ message }}</p>
    <h2>Listning to native events</h2>
    <input type="text" (keyup)="updateField($event)" />
    <br />
    <h2>Listening to enter key</h2>
    <input type="text" (keyup.enter)="handleOnEnter()" />
  </section>

  <section>
    <h2>Class binding</h2>
    <button [style.backgroundColor]="isDisabled ? 'gray' : 'blue'">Button with class binding</button>
    <button (click)="toggleHighlight()">Toggle Highlight</button>
    <p [class.highlight]="isHighlighted">Hello, world!</p>
    <p class="paragraph-default" [ngClass]="[isHighlighted ? 'highlight' : 'un-highlight']">Multiple class assigned</p>
  </section>
</div>