<div>
  <h1>Templating in Angular</h1>
  This is a theme used: {{theme}}
  <section>
    <h2>Property binding</h2>
    <p>Property binding allows you to bind the value of a property in your component to an element in your template. For
      example:</p>
    <img [src]="imageUrl" [alt]="imageAlt" [title]="imageTitle" />
  </section>
  <hr />
  <section class="">
    <h2>Two way data binding</h2>
    <input [(ngModel)]="firstName" placeholder="Enter theme" />
    Firstname: {{firstName}}
  </section>
  <hr />
  <section>
    <h2>Binding attributes</h2>
    <button [disabled]="disabled">Button is disabled</button>
  </section>
  <hr />
  <section>
    <h2>Event binding</h2>
    <button (click)="onClick()">Click me!</button>
    <p>{{ message }}</p>
    <h2>Listning to native events</h2>
    <input type="text" (keyup)="updateField($event)" />
    <br />
    <h2>Listening to enter key</h2>
    <input type="text" (keyup.enter)="handleOnEnter()" />
  </section>
  <hr />
  <section>
    <h2>Class binding</h2>
    <button [style.backgroundColor]="isDisabled ? 'gray' : 'blue'">Button with class binding</button>
    <button (click)="toggleHighlight()">Toggle Highlight</button>
    <p [class.highlight]="isHighlighted">Hello, world!</p>
    <p class="paragraph-default" [ngClass]="[isHighlighted ? 'highlight' : 'un-highlight']">Multiple class assigned</p>
  </section>
  <hr />
  <section>
    <h2>Control flow</h2>
    @if (isLoggedIn) {
    <p>Welcome back, user!</p>
    } @else {
    <p>Please log in to continue.</p>
    }

    <!-- from version angular 17+ use control flow directives  @if-->
    <p *ngIf="isLoggedIn; else notLoggedIn">Welcome back, user!</p>
    <ng-template #notLoggedIn>
      <p>Please log in to continue with directive ngIf</p>
    </ng-template>


    <button (click)="isLoggedIn = !isLoggedIn">{{ isLoggedIn ? 'Logout' : 'Login' }}</button>
    <br />
    <h2>Looping</h2>

    @for (employee of employees; track employee?.id) {
    <!-- The track employee.id is used to optimize the rendering of the list by tracking each employee by their id, similar to using a key in React -->
    <div>{{ employee.age }} years old</div>
    } @empty { <!--Empty is optionall -->
    <div>There are no employees</div>
    }

  </section>
  <hr />
  <section>
    <h2>Pipes</h2>
    <!-- Pipes are used to transform data in the template. For example, you can use the date pipe to format a date: -->
    <p>Current date: {{ purchasedOn | date }}</p>
  </section>
  <hr />
  <section>
    <h2>Content projection</h2>
    <app-dialog>
      <div header>
        <h3>This is the header</h3>
      </div>
      <div body>
        <p>This is the body of the dialog.</p>
      </div>
      <div footer>
        <p>This is the footer</p>
        <button>Close</button>
      </div>
    </app-dialog>
  </section>
  <hr />
  <section>
    <h2>Content projection 2</h2>
    <app-dialog>
      <div header>
        <h3>This is the header</h3>
      </div>
      <div body>
        <p>This is the body of the dialog.</p>
        <app-counter />
      </div>
      <div>
        <p>This is the footer</p>
      </div>
    </app-dialog>
  </section>
  <hr />
  <section>
    <h2>Ng template</h2>

    <ng-template #myTemplate> <!-- This is a reusable template inside the component only  -->
      <p>This is a template that can be reused.</p>
    </ng-template>

    <button (click)="showMyTemplate = !showMyTemplate">Toggle template</button>

    @if(showMyTemplate) {
    <ng-container *ngTemplateOutlet="myTemplate"></ng-container>
    }
  </section>
  <hr />
  <section>
    <h2>Ng container</h2>
    <section>
      <ng-container>
        <!-- This is a container that can be used to group elements together without adding an extra element to the DOM -->
        <h3>User bio</h3>
        <p>Here's some info about the user</p>
      </ng-container>
    </section>
  </section>
</div>